.article
{
   
    text-decoration:none;
   	display: inline-block;
    width: 32%;
    border-radius: 5px;
    padding: 2px;
    color: white;
    font-size: 0.9em;
    margin : auto;
    border: 1px solid grey;
    vertical-align: top;
    background-color: rgba(0, 0, 0, 0.3);


}
.actu{
    border-bottom: 1px solid grey;
    padding: 1%;
}

.concert{


    border-bottom: 1px solid grey;
    padding: 1%;
}

.titre{
    text-align: center;
    border-bottom: 2px solid grey;
    padding-bottom: 1%;
}

.sous_article{

max-height: 400px;
    overflow-y: scroll;
    overflow:auto; 
}

#concert{
    text-align: center;
    padding-bottom: 2%;
}

.titre_actu{
 font-size: 1em;
 font-weight: bold; 
 border-top: 1px solid grey;
}
.date_actu{
 font-size: 0.6em;
 font-weight: italic;
}
.contenu_actu{
 font-size: 0.9em;
}

#contenu{

    margin-left: 1%;
    float: top;
    
    padding: auto;
    background-color: transparent;
   display: block;
  
}

#inscription{
    font-size: 1.5em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    
    
}

li{
    list-style-type:none;
}


