#banniere{

    width: 100%;    
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 3%;
    color: black;  
    vertical-align: center; 

}

#banniere img{
    overflow: hidden;
-webkit-border-radius:100px;
-moz-border-radius: 50px;
border-radius: 100px;
width: 200px;
height: 200px;
}

#image_banniere{
        
    text-align: center;
    font-size: 0.9em;
    margin : auto;
    color: black;   
    display: inline-block;
      background-size: cover;
      background-repeat: no-repeat;
      webkit-background-size: cover;
     
}

.article
{
    text-align: center;
    display: inline-block;
    width: 22%;
    height: 500px;    
    padding: 10px;
    color: black;
    font-size: 0.9em;
    margin : auto;
    vertical-align: top;   
    border-right: 2px solid black; 

    

}

h3{
    text-align: center;
    border-bottom: 1px solid black;
}

.sous_article{
height: 100%;
}

.sous_article2{
height: 40%;
}


#contenu{
  margin-left: 1%;
  margin-right: 1%;
 
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    display: block;

    
   
}


.actu3{
 
   overflow-y: scroll; 
   overflow: auto;
   max-height: 90%;

}


.actu2{
font-size: 0.8em;
   overflow-y: scroll; 
   overflow: auto;
   height: 65%;
}

.ecrire{
  min-height: 30%;

}



.concert{

}

#participants{
    max-height: 100px;

    overflow-y: scroll; 
   overflow: auto;
    text-align: left;
}

li{
    list-style-type:none;
}