
.message{
border-top: 3px solid #C0C0C0;
padding: 1%;
display: block;
 background-color: rgba(0, 0, 0, 0.2);

}

.nouveau{
font-weight: bold;
padding : 1%;
border-top: 2px solid #C0C0C0;
border-bottom: 2px solid #C0C0C0;
margin-top: 1%;
margin-bottom: 1%;
 background-color: rgba(0, 0, 0, 0.2);
}

.message img{
overflow: hidden;
width: 150px;
height: 150px;

}

.messageforum{
	display: inline-block;
	width: 70%;
	margin-left: 1%;
	vertical-align: top;
	}

.photoprofil{
	display: inline-block;
	width: 150px;
text-align: center;
 clear: both;
	}


#d1{
	text-align : center; 

	font-size: 2em;
	color : #CCCCCC;
	width : 100%;
	margin-left: auto;
	margin-right: auto;

    background-color: rgba(0, 0, 0, 0.4);
	
}
.sep{
	width : 100%;
	margin-left: auto;
	margin-right: auto;
	height: 10px;
}

table.t1{
	width : 100%;
	opacity:  0.7 ;
		
}

table {
	width : 100%;

}

.ce1{
	width :70%;
	color : white;
    background-color: rgba(0, 0, 0, 0.4);
	font-size: 0.9em;
	
}
.ce2{
	width :15%;
	color :white;
    background-color: rgba(0, 0, 0, 0.4);

	font-size: 0.9em;
	
}
.ce3{
	width :15%;
	color :white;
    background-color: rgba(0, 0, 0, 0.4);
	font-size: 0.9em;
	
}
.ce4{
	width :20%;	
	color : white;
	font-size: 0.9em;
	padding-left: 10px;
	    background-color: rgba(0, 0, 0, 0.4);
}
.c1{
	width :50%;
	height :40px;
	
	border-bottom: 2px solid blue;
	font-size: 1em;
	
}
.c1h{
	width :50%;
	height :40px;
	color :#6699CC;
	background-color: #6699CC;
	border-bottom: 2px solid blue;
	font-size: 1em;
}

.a1
{

	color :white;
	font-size: 1.7em;
	
	margin-left: 20px;
}

.a2{
	color: white;
	font-size: 0.8em;
	font-weight: bolder;
	font-style: italic;
}
.a3{
	color : #660099;
	font-size: 0.7em;
	display: inline-block;
	
	
}
.img{
	width : 60px;
}
.lien{
	color:#FFFFFF;
	text-decoration: none;
}
.t1{
	color:#CCCCCC;
	font-size: 1em;
}
.t2{
	color:#FFFFFF;
	font-size: 1em;
}
.centre {
text-align : center; 
color: 
}

.align
{
	text-align: center;
	color: white;

}

.margin
{
	margin: 15px auto 15px 15px;
	display: inline-block;
}

.nbrsujet
{
	text-align: center;
}

.deniermessage
{
	text-align: center;
}

td
{
 border: 1px solid rgba(0, 0, 0, 0.3);
}

.name
{
	font-size: 1.5em;
}

.author
{
	font-style: italic;
}