html, body { 
margin: 0;
padding: 0;
font-family: 'Open Sans', sans-serif;
background: rgb(212,228,239); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(212,228,239,1)), color-stop(100%,rgba(134,174,204,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* W3C */
background-size: cover;


}

.fondalternatif{
    {
margin: 0;
padding: 0;
font-family: 'Open Sans', sans-serif;
background: rgb(212,228,239);
background: -moz-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(212,228,239,1)), color-stop(100%,rgba(134,174,204,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%);
background: radial-gradient(ellipse at center, rgba(212,228,239,1) 0%,rgba(82, 165, 228, 1) 100%);
background-image: radial-gradient(at 50% 50%, rgb(212, 228, 239) 0%, rgb(82, 165, 228) 100%);
background-position-x: initial;
background-position-y: initial;
background-size: cover;
background-repeat-x: initial;
background-repeat-y: initial;
background-attachment: initial;
background-origin: initial;
background-clip: initial;
background-color: initial;
background-size: cover;


}
}

header{
    width: 100%;
    height: 170px;    
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-color: black;
    font-size: 0.9em;


    border-bottom: 1px solid #808080;
    padding-bottom: 1%;

    

    background: rgb(197,222,234); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(197,222,234,1) 0%, rgba(138,187,215,1) 31%, rgba(6,109,171,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(197,222,234,1)), color-stop(31%,rgba(138,187,215,1)), color-stop(100%,rgba(6,109,171,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
    
footer{
    margin-top: 1%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);


}


footer img{
    float: right;
}

a{
    text-decoration: none;
    color: white;
}

#message{
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: black;
    float: right;
    text-align: center;
    font-weight: bold;
}



#logo{
   width: 10%;
    float: left;    
    margin : 1px;
    display: block;
    
}


#connexion_header
{
float: right;
width : 10%;
display: inline-block;
text-align: center;
margin-right: 10px;
border-radius: 5px;
font-weight: bold;
}

#connexion_header input{
    border-radius: 5px;

}



#rechercherform
{

border-radius: 5px;
float: right;
}

#rechercher{
z-index: 1;
float: right;
margin-right: 10px;

}

#menu{
    z-index: 2;
display: inline-block;    
width: 70%;
text-align: center;
position: absolute;
top: 1%:;
margin-left : 8%;


}




#menu ul {
 margin:0;
 padding:0;
 list-style-type:none;
 text-align:center;
 width: auto;
 }
#menu li {
 float:left;
 margin:auto;
 padding:0;
 background-color: rgba(0, 0, 0, 0.3);
 border: 1px solid #D6D6D6;
 width: 16%; 
 }
#menu li a {
 display:block;

 color: white;
 text-decoration:none;
 padding:4px;
 }
#menu li a:hover {
 color:black;
 background-color: #E6E6E6;
 }
 #menu ul li ul {
 display:none;

 }
 #menu ul li:hover ul {
 display:block;
 width: 16%;
 }
#menu li:hover ul li {
 float:none;
  width: 100%;

 }
 #menu li ul {
 position:absolute;
 }
