#banniere{

    width: 100%;    
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 3%;
    color: black;  
     

}


#image_banniere{
        
    text-align: center;
    font-size: 0.9em;
    margin : auto;
    color: black;   
    display: inline-block;
      background-size: cover;
      background-repeat: no-repeat;
      webkit-background-size: cover;
     
}

.article
{
    text-align: center;
    display: inline-block;
    width: 48%;
    height: 470px;    
    padding: 10px;
    color: black;
    font-size: 0.9em;
    margin : auto;
    vertical-align: top;   
    border-right: 2px solid black; 

    

}

h3{
    text-align: center;
    border-bottom: 1px solid black;
}

.sous_article{


}


#contenu{
  margin-left: 1%;
  margin-right: 1%;
 
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    display: block;

    
   
}

.liste
{
    
    display: inline-block;
    width: 48%;
    height: 470px;    
    padding: 10px;
    color: black;
    font-size: 0.9em;
    margin : auto;
    vertical-align: top;   
    max-height: auto;
    overflow-y: scroll;
    

}


.actu{
 
    
}

.concert{

}

#participants{
    max-height: 150px;
    overflow-y: scroll;
    text-align: left;
}

li{
    list-style-type:none;
}