html, body { 

font-family: 'Open Sans', sans-serif;
background-color: #DFE0DA;
background-size: cover;
min-width: 800px;

}

footer{

    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);

}

a{
    text-decoration: none;
    color: white;
}

#banniere{

    width: 100%;    
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 3%;
    color: white;  
     

}


#image_banniere{
    width: 100%;    
    text-align: center;
    font-size: 0.9em;
    margin : auto;
    color: white;   
    display: inline-block;
      background-size: cover;
      background-repeat: no-repeat;
      webkit-background-size: cover;
     
}

.article
{
    text-align: center;
    display: inline-block;
    width: 22%;
    height: 90%;    
    padding: 10px;
    color: white;
    font-size: 0.9em;
    margin : auto;
    vertical-align: top;   
    border-right: 2px solid black; 

    

}

.sous_article{


}


#contenu{

    width: 100%;
    height: auto;
    margin-bottom: 1%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;

    
   
}


.actu{
    border: 1px solid grey;
    
}

.concert{
    border: 1px solid grey;
}
