.box{
 border-radius: 6px;
 margin-top: 2%;
 display: inline-block;				

}

#inscription{
	margin-top: 3%;
	width: 100%;
	text-align: center;
	margin-bottom: 3%;


}

#CGU{
	margin-top: 3%;
margin-bottom: 3%;

}

#blabla{
	font-size: 1.5em;
	font-weight: bold;

}

#envoi{
border-radius: 10px;
background-color: #808080;
display: inline-block;
padding: 3px;
font-size: 2em;
}

#formulaire{
  list-style-type:none;
  font-weight: bold;
}

.champs{
	padding-bottom: 10px;
	border-bottom: 1px solid grey;
	width: 50%;
	margin-right: 25%;
    margin-left: 25%;
}

span{
	text-align: center;

}

input[type=checkbox] {
	display: inline;
	margin-left: 3%;
	width:25px;
    height:25px;
}