#banniere{
    width: 90%;    
    text-align: center;
    font-size: 0.9em;
    margin : auto;
    color: white;   
}


.article
{
    text-align: center;
    display: inline-block;
    width: 22%;
    height: 90%;    
    padding: 10px;
    color: white;
    font-size: 0.9em;
    margin : auto;
    vertical-align: top;    

}

.sous_article{

}


#contenu{

    width: 100%;
    height: auto;
    margin : auto;
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
    
   
}

header{
    width: 100%;
    background-color: transparent;
    height: 25%; 
    
	}

footer{
    width : 100%;
    text-align: center;
   
        }

a{
    text-decoration: none;
    color: white;
}

html, body { 

font-family: Impact;
background-image: url("http://xn--80aqafcrtq.cc/img/4/7/3/Concert%20smoke,%20crowd%20people,%20%D0%BA%D0%BE%D0%BD%D1%86%D0%B5%D1%80%D1%82,%20%D0%BC%D1%83%D0%B7%D1%8B%D0%BA%D0%B0,%20%D0%BC%D0%BE%D0%BB%D0%BE%D0%B4%D1%91%D0%B6%D1%8C,%20%D0%BA%D0%BB%D1%83%D0%B1,%20%D1%84%D0%BE%D1%82%D0%BE,%203648x2736.jpg");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
min-width: 800px;
height: 90%;

}

.actu{
    border: 1px solid grey;
    
}

.concert{
    border: 1px solid grey;
}

#logo{
    width: 200px;
    float: left;
    vertical-align: middle;
}


#connexion
{
    position : absolute;
    right: 2%;     
}

form input
{
    display: block; 

}

#rechercher{
    position: absolute;
    top: 20%;
    right: 2%;
}


#menu{
    display: inline-block;
    border: 1px solid grey;
    margin-left: 10%;
    margin-right:10% ;
    text-align: center;
    float: top;


}

#menu a{
    width : 160px;

}

#menu ul {
 margin:0;
 padding:0;
 list-style-type:none;
 text-align:center;
 }
#menu li {
 float:left;
 margin:auto;
 padding:0;
 background-color:black;
 border: 1px solid #D6D6D6; 
 }
#menu li a {
 display:block;
 width:100px;
 color:white;
 text-decoration:none;
 padding:4px;
 }
#menu li a:hover {
 color:black;
 background-color: white;
 }
 #menu ul li ul {
 display:none;
 }
 #menu ul li:hover ul {
 display:block;
 }
#menu li:hover ul li {
 float:none;
 }
 #menu li ul {
 position:absolute;
 }