body
{
	background-image: url('patrice-concert-trianon.jpg');
}

.sommaire
{
	width: 1000px;
	height: 50px;
	border: 1px dashed white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding: auto;
	text-align: center;
	font-size: 1.6m;
}

header
{
	border: 1px dashed white;
	margin-bottom: 50px;
	padding: 20px;
}


.lelogo
{
	margin: 400px 100px 200px 50px;
}

.tri
{
	width: 750px;
	border: 1px dashed white;
	display: block;
	margin: 0 auto 0 auto;
	text-align: center;
	
	
}

form
{
	width: 750px;
	height: 60px;
	border: 1px dashed white;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 2px;
	padding: 1px auto;
	
}	

input
{
	width: 700px;
	height: 20px;
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2px;
	font-size: 1em;
}

table
{
	background-color: white;
	width: 200px;
	border-collapse: collapse;
}

td
{
	padding: 5px 3px 5px 30px;	
}



th
{
	text-align: left;
	border: 3px solid grey;
	padding: 5px;
	border-radius: 15px;
}

.recherche
{
	display: block;
}

.genre
{
	
	width: 200px;
	float: left;
	margin-left: 75px;
	margin-right: 0px;
	background-color: #CCFFFF;
	font-size: 1.3em;
}



.article
{
	border: 1px solid black;
	width: 700px;
	height: 299px;
	font-size: 1.2em;
	padding-left: 9px;
	margin-left: 72px;
	
	margin-bottom: 100px;
	background-color: white;
	overflow: scroll;
	display: inline-block;
	text-align: center;
	
}

.vousaimerez
{	
	
	position: absolute;
	left: 1140px;
	top: 462px;
	width: 200px;
	height: 322px;
	margin-right: 150px;
	margin-left: 0px;
	font-size: 1.3em;
	overflow: scroll;
	
	
}

body
{
	background-color: #104E7F;
}

a
{
	text-decoration: none;
	color: black;
}

@font-face
{
	font-family: 'Cantarell-Regular';
	src: url('Cantarell-Regular.ttf');
}

@font-face
{
	font-family: 'SourceCodePro-Regular';
	src: url('SourceCodePro-Regular.otf');
}

@font-face
{
	font-family: 'AutourOne-Regular';
	src: url('AutourOne-Regular.otf');
}

*
{
	font-family: Cantarell-Regular;
}

a:hover
{
	color: orange;
}



.evenements
{
	border: 1px solid black;
	border-radius: 10px 0 0 10px;
	background-color: #339999;
	padding: 5px 50px;
}
	
	

.groupes
{
	border: 1px solid black;
	background-color: #339999;
	padding: 5px 40px;
	
}

.salles
{
	border: 1px solid black;
	background-color: #339999;
	padding: 5px 50px;
	
}

.forum
{
	border: 1px solid black;
	background-color: #339999;
	padding: 5px 50px;
	
}

.contact
{
	border: 1px solid black;
	border-radius: 0 10px 10px 0;
	background-color: #339999;
	padding: 5px 50px;
}



barre
{
	width: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: red;
	
}







.alphabetique
{
	width: 100px;
	background-color: white;
	margin: 0;
	border: 1px solid black;
	background-color: white;
	padding-right: 119px;
	padding-left: 120px;
}

.popularite
{
	width: 200px;
	background-color: white;
	margin: 0;
	border: 1px solid black;
	background-color: white;
	padding-right: 46px;
	padding-left: 50px;
}

.date
{
	background-color: white;
	margin: 0;
	border: 1px solid black;
	background-color: white;
	padding-right: 74px;
	padding-left: 90px;
}

.lien
{
	color: white;
	font-size: 1.2em;
	font-family: 'AutourOne-Regular';
}


footer
{
	width: 100%;
	text-align: center;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;	
	padding: 0 2px 0 2px;
	margin-bottom: 2px;
	display: inline-block;
} 
