html, body { 
margin: 0;
padding: 0;
font-family: 'Open Sans', sans-serif;
background: rgb(212,228,239); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(212,228,239,1)), color-stop(100%,rgba(134,174,204,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* W3C */
background-size: cover;
min-width: 800px;
min-width: 1024px;

}

#d1{
	font-size: 2em;
	color : #CCCCCC;
	width : 66%;
	margin-left: auto;
	margin-right: auto;
	background-image : linear-gradient(#444444, #111111);
	
}
.sep{
	width : 66%;
	margin-left: auto;
	margin-right: auto;
	height: 10px;
}

table.t1{
	width : 66%;
	margin-left: auto;
	margin-right: auto;
	opacity:  0.7 ;
}

.ce1{
	width :40%;
	color :#CCCCCC;
	background-image:linear-gradient(#707070, #0033FF);
	border-right: 2px solid blue;
	border-bottom: 5px solid blue;
	font-size: 0.9em;
	padding-left: 10px;
}
.ce2{
	width :10%;
	color :#CCCCCC;
	background-image:linear-gradient(#707070, #0033FF);
	border-right: 2px solid blue;
	border-bottom: 5px solid blue;
	font-size: 0.9em;
	padding-left: 10px;
}
.ce3{
	width :10%;
	color :#CCCCCC;
	background-image:linear-gradient(#707070, #0033FF);
	border-right: 2px solid blue;
	border-bottom: 5px solid blue;
	font-size: 0.9em;
	padding-left: 10px;
}
.ce4{
	width :20%;	
	color :#CCCCCC;
	background-image:linear-gradient(#707070, #0033FF);
	border-bottom: 5px solid blue;
	font-size: 0.9em;
	padding-left: 10px;
}
.c1{
	width :50%;
	height :40px;
	color :#FFFFFF;
	background-color: #202020;
	border-bottom: 2px solid blue;
	font-size: 1em;
	
}
.c1h{
	width :50%;
	height :40px;
	color :#FFFFFF;
	background-color: #404040;
	border-bottom: 2px solid blue;
	font-size: 1em;
}

.a1{
	color :blue;
	font-size: 1em;
	font-weight: bolder;
}
.a2{
	color :#FFFFFF;
	font-size: 0.8em;
}
.a3{
	color : #660099;
	font-size: 0.7em;
	display: inline-block;
	
	
}
.img{
	width : 60px;
}
.lien{
	color:#FFFFFF;
	text-decoration: none;
}
.t1{
	color:#CCCCCC;
	font-size: 1em;
}
.t2{
	color:#FFFFFF;
	font-size: 1em;
}